name: Publish PDF
on:
  release:
    types: ["published"]
jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Setup Chrome/Chromium web browser
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: latest
        id: setup-chrome
      - name: Building tutorial PDF file
        run: |
          jupyter-book build ./ --builder singlehtml
          echo Installed chromium version: ${{ steps.setup-chrome.outputs.chrome-version }}
          ${{ steps.setup-chrome.outputs.chrome-path }} --headless --disable-gpu --print-to-pdf file:///$(pwd)/_build/singlehtml/intro.html
      - name: Upload PDF to release
        uses: svenstaro/upload-release-action@v2
        with:
          asset_name: Sylabs_Singularity101-${{ github.ref }}.pdf
          #tag: "PDF"
          tag: ${{ github.ref }}
          overwrite: true
          file: output.pdf